#header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/imgs/Header.jpg);
    background-position: 50% 5%;
    object-fit: contain;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20rem;
}

#linea{
    color: rgb(255, 255, 255, 0.75);
}